nav {
    margin: -1em -0.5em 2em -0.5em;
    padding: 10px;
    text-align: right;
    background-color: #ffffff;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    position: relative;
    margin-top: 0.5em;
}

nav a,
nav a:focus,
nav button,
nav button:focus {
    margin: 10px 10px 0px 20px;
    text-decoration: none;
    padding: 10px 0 10px 30px;
    font-size: 16px;
    font-weight: 700;
    color: #013289;
    white-space: nowrap;
    transition: 0.3s;
    border: none;
    outline: none;
    background: inherit;
    cursor: pointer;
}

nav a:hover,
nav button:hover {
    color: #4154f1;
}

h1 {
    text-align: center;
}

.First-para-div,
.Second-para-div {
    margin: 5em;
}