<!-- wp:columns {"backgroundColor":"white"} -->
<div class="wp-block-columns has-white-background-color has-background"><!-- wp:column {"width":"25%"} -->
    <div class="wp-block-column" style="flex-basis:25%"><!-- wp:site-logo {"width":218} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"center","width":"100%","fontFamily":"PT Sans,Sans serif"} -->
    <div class="wp-block-column is-vertically-aligned-center has-pt-sans-sans-serif-font-family" style="flex-basis:100%"><!-- wp:navigation {"ref":20,"layout":{"type":"flex","justifyContent":"right"},"style":{"spacing":{"blockGap":"var:preset|spacing|70"},"typography":{"fontSize":"18px"}},"fontFamily":"PT Sans,Sans serif"} /-->
    
    <!-- wp:navigation {"ref":4,"layout":{"type":"flex","justifyContent":"right"},"style":{"typography":{"fontSize":"18px"}},"fontFamily":"PT Sans,Sans serif"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->